<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pres">
      <h2 data-cy="presDetailsHeading"><span>Pres</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pres.id }}</span>
        </dd>
        <dt><span>Libelle</span></dt>
        <dd>
          <span>{{ pres.libelle }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ pres.date }}</span>
        </dd>
        <dt><span>Montant</span></dt>
        <dd>
          <span>{{ pres.montant }}</span>
        </dd>
        <dt><span>Payer</span></dt>
        <dd>
          <span>{{ pres.payer }}</span>
        </dd>
        <dt><span>Restant</span></dt>
        <dd>
          <span>{{ pres.restant }}</span>
        </dd>
        <dt><span>Fournisseur</span></dt>
        <dd>
          <div *ngIf="pres.fournisseur">
            <a [routerLink]="['/fournisseur', pres.fournisseur.id, 'view']">{{ pres.fournisseur.prenomNom }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/pres', pres.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
      <button type="button" [routerLink]="['/pres', pres.id, 'edit']" class="btn btn-warning">
        <fa-icon icon="arrow-right"></fa-icon>&nbsp;<span>Rembourser</span>
      </button>
    </div>
  </div>
</div>
