<div class="row">
  <div class="col-md-9">
    <div *ngIf="account !== null">
      <div class="row d-flex">
        <div class="col-12 col-md-6 col-lg-4 pb-2">
          <!--   <div class="card">
                    <h5>Sales Overview</h5>
                    <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
                </div> -->
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h1 class="h4 text-info">Montant due</h1>
                </div>
              </div>
            </div>

            <div class="card-body text-center bg-info text-white">
              <h2 class="h5">
                <span>{{ compte?.restant | currency : 'XOF' : 'symbol' || '0.0FCFA' }} </span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 pb-2">
          <!--   <div class="card">
                    <h5>Sales Overview</h5>
                    <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
                </div> -->
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h1 class="h4 text-info">Depense</h1>
                </div>
              </div>
            </div>

            <div class="card-body text-center bg-info text-white">
              <h2 class="h5">
                <span>{{ compte?.payer | currency : 'XOF' : 'symbol' || '0.0FCFA' }} </span>
              </h2>
            </div>
          </div>
        </div>
      </div>

      <br />

      <br />

      <br />
      <p-card>
        <p-fieldset>
          <ng-template pTemplate="header">Liste des fournisseurs</ng-template>
          <p-table
            [value]="fournisseurs"
            [rows]="3"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[3, 5, 10, 25, 50]"
            [paginator]="true"
            [tableStyle]="{ width: '100%' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Prenom & nom</th>
                <th>Telephone</th>
                <th>Service</th>
                <th>Montant du</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-four>
              <tr>
                <td>{{ four.prenomNom }}</td>
                <td>{{ four.telephone }}</td>
                <td>{{ four.serviceOffert }}</td>
                <td>{{ four.solde | currency : 'XOF' : 'symbol' }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-fieldset>
      </p-card>
    </div>
  </div>

  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>
</div>
